/*
   * Remove template code below
   */
:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  	"header header"
	"nav    main";

  nav {
	  grid-area: nav;
  }

  main {
	  grid-area: main;
  }
}
