<header>
	<button (click)="login()">login</button>
	<button (click)="logout()">logout</button>
</header>
<nav>
	<ul>
		<li>
			<h2>
				<a [routerLink]="'public'">public</a>
			</h2>
			<ul>
				<li>
					<h3>
						<a [routerLink]="'public/home'">home</a>
					</h3>
				</li>
				<li>
					<h3>
						<a [routerLink]="'public/help'">help</a>
					</h3>
				</li>
			</ul>
		</li>
		<li>
			<h2>
				<a [routerLink]="'private'">private</a>
			</h2>
			<ul>
				<li>
					<h3>
						<a [routerLink]="'private/admin'">admin</a>
					</h3>
				</li>
				<li>
					<h3>
						<a [routerLink]="'private/other'">other</a>
					</h3>
					<ul>
						<li>
							<h4>
								<a [routerLink]="'private/other/very'">very</a>
							</h4>
							<ul>
								<li>
									<h5>
										<a [routerLink]="'private/other/very/deep'">deep</a>
									</h5>
									<ul>
										<li>
											<h6>
												<a [routerLink]="'private/other/very/deep/route'">route</a>
											</h6>
										</li>
										<li>
											<h6>
												<a [routerLink]="'private/other/very/deep/route-aux'">route-aux</a>
											</h6>
										</li>
									</ul>
								</li>
								<li>
									<h5>
										<a [routerLink]="'private/other/very/deep-aux'">deep-aux</a>
									</h5>
									<ul>
										<li>
											<h6>
												<a [routerLink]="'private/other/very/deep-aux/route'">route</a>
											</h6>
										</li>
										<li>
											<h6>
												<a [routerLink]="'private/other/very/deep-aux/route-aux'">route-aux</a>
											</h6>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<h4>
								<a [routerLink]="'private/other/very-aux'">very-aux</a>
							</h4>
							<ul>
								<li>
									<h5>
										<a [routerLink]="'private/other/very-aux/deep'">deep</a>
									</h5>
									<ul>
										<li>
											<h6>
												<a [routerLink]="'private/other/very-aux/deep/route'">route</a>
											</h6>
										</li>
										<li>
											<h6>
												<a [routerLink]="'private/other/very-aux/deep/route-aux'">route-aux</a>
											</h6>
										</li>
									</ul>
								</li>
								<li>
									<h5>
										<a [routerLink]="'private/other/very-aux/deep-aux'">deep-aux</a>
									</h5>
									<ul>
										<li>
											<h6>
												<a [routerLink]="'private/other/very-aux/deep-aux/route'">route</a>
											</h6>
										</li>
										<li>
											<h6>
												<a [routerLink]="'private/other/very-aux/deep-aux/route-aux'">route-aux</a>
											</h6>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</nav>
<main>
	<router-outlet></router-outlet>
</main>
